body {
    background-color: gray;
}

.title {
    color: black;
}

.bold {
    font-weight: bold;
}

.SearchPanel {
    background-color: gray;
}

.ResultPanel {
    background-color: gray;
}

.SavedPanel {
    background-color: gray;
}

.panel-body {
    background-color: snow;
}

.pink {
    color: blue;
}

.text-center {
    color: black;
}